#CUBody{
	background-color:#1e358bff;
}

#CUHeader{
	text-align:center;
	margin:auto;
	font-size:50px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:300px;
	height:100px:
}

.GitHub{
	float:left;
	margin-left:150px;
}

#WaaaveLogo{
	width:200px;
	border-radius: 50%;
	padding:10px;
}

.Twitter{
	float:left;
	margin-left:50px;
}

#TwitterLogo{
	width:200px;
	height:200px;
	border-radius: 75%;
	padding:10px;
}

.SocialsHeader{
	text-align:center;
	margin:auto;
	font-size:20px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:100px;
	height:100px:
}
.InformationHeaderDiv{
	clear:left;
	width:50%;
	padding:20px 0;
}

.InformationHeader{
	text-align:center;
	margin-left:50px;
	font-size:40px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:250px;
	height:50px;
	display:inline-block;
}

#Address{
	text-align:center;
	margin-left:50px;
	font-size:20px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:400px;
	display:inline-block;
}

#Number{
	text-align:center;
	margin-left:50px;
	font-size:40px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:400px;
	height:50px;
	display:inline-block;
}

#Email{
	text-align:center;
	margin-left:50px;
	font-size:40px;
	font-family: Calibri;
	background:#1e8b4fff;
	border-radius:50px;
	border: 3px solid black;
	width:400px;
	height:50px;
	display:inline-block;
}




















