

.main-container{

	border: 3px solid #fff;
	padding: 20px;

}

.container-child.map {

	width: 65%;
	float: right;
	border: 2px solid black;
	position: absolute;	
	right: 0;
	top:0;
	bottom: 0;


} 
.container-child.sidebar {

	width: 35%;
	float: left;
	padding: 20px;
	border: 2px solid black;
	position: absolute;
	left:0;
	top:0;
	bottom:0;


} 

.wrapper
{
	margin: 0 auto;
}

header
{
	height: 100px;
	background: cornflowerblue;
	z-index: 12;
	position: fixed;
}

.logo
{
	float: left;
	line-height: 100px;
}

.logo a
{
	text-decoration: none;
	font-size: 45px;
	font-family: bignoodletitling;
	color: #fff;
	letter-spacing: 6px;
}

nav 
{
	float: left;
	line-height: 125px;
}

nav a
{
	text-decoration: none;
	font-family: bignoodletitling;
	letter-spacing: 5px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff; 
}



